/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Fredoka', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width:70%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Navbar */
nav{
    background-color: #ff6900;
    justify-content: space-between;
    height: 70px;
    font-weight: 500;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.navbar{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color:white;
    padding: 0 10px;
} 

.header-menu-left{
    width: 20%;
    justify-content: flex-start;
}

.logo-center{
    width: 60%;
    height: 30px;
    justify-content: center;
}

.user-right{
    width: 20%;
    justify-content: flex-end;
}
