/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
    position: relative;
    top: 150px;
}

.container{
    width:70%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Navbar */
nav{
    background-color: #ff6900;
    justify-content: space-between;
    height: 70px;
    font-weight: 700;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.navbar{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color:white;
    padding: 0 10px;
} 

.header-menu-left{
    width: 20%;
    justify-content: flex-start;
}

.logo-center{
    width: auto;
    height: 30px;
    justify-content: center;
}

.user-right{
    width: 20%;
    justify-content: flex-end;
}

/* Columns */
.columns{
    flex-wrap: wrap;
    gap: 40px 0px; 
}

.column{
    position: relative;
    padding: 0px 20px;
    width: calc(100%/3);
}

.column-content{
    position: relative;
}

.heart-icon{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.img-background{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* Tags */
.tags{
    color: white;
    position: absolute;
    bottom: 100px;
    font-weight: 700;
}

.discount{
    background-color: red;
    padding: 5px;
}

.category{
    background-color: #008000;
    padding: 5px;
}

/* Product Description */

.product-name{
    text-transform: uppercase;
}

.discount-price{
    color: red;
    font-weight: 700;
}

.prediscount-price{
    text-decoration: line-through;
}

/* Footer */
footer{
    background-color: #1a1a1a;
    color: white;
    position: relative;
    margin-top: 80px;
    top: 150px;
}

footer a{
    color: white;    
}

.company{
    justify-content: space-between;
    padding: 30px 0px;
}

.company-left > *{
    padding: 5px 0px;
}

.footer-info{
    gap: 0px 8px;
}

.social-icons{
    padding: 10px 0 0 0;
    gap: 10px;
}
